fastapi~=0.111.0
uvicorn
requests~=2.27.1
faiss-cpu
sentence-transformers
pandas~=1.5.2
PyPDF2
python-docx
pytesseract
Pillow~=9.4.0
whisper~=1.1.10
beautifulsoup4~=4.11.2

SQLAlchemy~=1.4.22
docx~=0.2.4
pydantic~=2.11
starlette~=0.37.2
dotenv~=0.9.9
python-dotenv~=0.21.0
PyJWT~=2.1.0
ollama~=0.5.3
pymongo~=4.11.2